/*
 * Date:	03.09.2007
 *
 * File:	css/SMF Default Theme - Core.css
 * Project:	AJAX_CHAT
 *
 * Author:	Sebastian Tschan
 * Website:	https://blueimp.net
 *
 * License:	GPL
 * 
 */

html {
	overflow:hidden;
}

body {
	padding:0px;
	margin:0px;
	background-color: #efefef;
	overflow:hidden;
	width:100%;
	height:100%;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* By default (td, body..) use Tahoma in black. */
body, td, th
{
	color: #000000;
	font-size: small;
	font-family: tahoma, sans-serif;
}

.topbg
{
	color: #737373;
	font-size: 22px;
	padding-top: 28px;
	padding-bottom: 7px;
	padding-right:25px;
	background-color: #efefef;
	background-image: url(/static/images/topbg_r.gif);
}

.topbg_r
{
	color: white;
	background-color: #efefef;
	background-image: url(/static/images/topbg.gif);
}

.topbg_r2
{
	color: white;
	background-color: #efefef;
	background-image: url(/static/images/topbg_r2.gif);
}

.topbg_l
{
	color: white;
	background-color: #efefef;
	background-image: url(/static/images/topbg_l.gif);
}

#roomNameContainer {
	position:absolute;
	top:80px;
	left:350px;
	width:16em;
	text-align:center;
}
#roomNameContainer h1 {
	font-size:1.5em;
	font-family: tahoma, sans-serif;
	font-weight: normal;
	color:#737373;
	margin-left:auto;
}


#content {
	position:absolute;
	top:140px;
	left:0px;
	bottom:0px; 
	right:0px;
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	background-color:#4A7DB5;
	background-image:none;
	color:#000;
}

#copyright {
	position: absolute;
	top:5px;
	right:5px;
}

#entranceHall {
	margin-top:50px;
	margin-left:50px;
	width:600px;
	text-align:center;
	background-color: #4A7DB5;
}

#entranceHall h3 {
	font-size:1.5em;
	font-weight: bold;
	color:white;
	margin:0px;
}

.rooms {
	position: relative;
	padding: 10px 0;
	display: block;
	width:540px;
}

#mainRooms {
	margin-top:70px;
}

.room {
	display: block;
	position:relative;
	float: left;
	cursor: pointer;
	height: 85px;
	width: 105px;
	padding: 5px;
	border-right: 5px solid #4A7DB5;
	text-decoration:none;
	text-align:left;
	color:white;
	font-size:2em;
	font-weight:bold;
	overflow:hidden;
}

/* rooms in entrance hall */
#R1 {
	background: #78ba91 url(members-lounge.gif) no-repeat;
}
#R2 {
	background: #7389ae url(blue-room.gif) no-repeat;
}
#R3 {
	background: #c17878 url(green-room.gif) no-repeat;
}
#R4 {
	background: #c17878 url(vamp-club.gif) no-repeat;
}
#R5 {
	background: #a87aad url(auditorium.gif) no-repeat;
}
.committee {
	background: #c17878 url(member-room.gif) no-repeat;
}

#exit {
	position:absolute;
	top:5px;
	left:15px;
	height:44px;
	width: 50px; 
	overflow:hidden;
}

.exit-f {	
	background: #a87aad url(forum.gif) no-repeat; 
}

.exit-r {	
	background: #a87aad url(exit.gif) no-repeat; 
}

.loading {
	background: white url(/static/images/spinner.gif) no-repeat center;
}

.hide {
	display:none;
}

/* these are the classes related to user types */
/* admin/leadership team */
span.A , span.L {
	color:#036972;   
}
/* melinda - head of our club */
span.H {
	color:#6A00FF;
}
/* guests - such as Janet, Kelley or Chaz (life Members) or Special is ordinary members promoted */
span.G, span.S {
	color:#0000CD;
}
/* moderator */
span.M {
	color:#843B00
}
/* baby backups */
span.B {	
	color:#008000;
}
/* regular members */
span.R {
	color:#414141;
}
/* chatbot */


span.C {
	font-style:italic;
	font-weight: bold;
	color:#476C8E;
}

span.chatBotMessage {
	font-style:italic;
	color:#444;
}

span.errorMessage {
	font-style:italic;
	color:red;
}

span.A,span.L,span.H,span.G,span.M,span.B,span.R,span.S,span.C {
	padding:0 2px;
}

/* circumstances when name is bold (others name will be in normal weight) */
#onlineList.O, #onlineList.C,#chatList span.A,#chatList span.L,span.H,span.G,span.S,span.M,#chatList span.B, #chatList span.R,#chatList  span.S {
	font-weight: bold;
}

#onlineList>div {
	padding:2px;
	position:relative;
}

#onlineList span.whisperer {
	cursor: pointer;
}

#onlineList span {
	cursor:default;
}

#onlineList span.ask {
	background-color:yellow;
}

#onlineList div.priv span {
	font-style:italic;
}

.rowEven {
	background-color:#F6F6F6;
}

.rowOdd {
	background-color:#ECEDF3;
}

.hide {
	display: none;
}

#question {
	position:absolute;
	width:150px;
	z-index:10;
	border:1px dotted green;
	padding:2px 5px;
	font-size:x-small;
	background:white;
}

div.hasQuestion {
	cursor:pointer;
}

#onlineListContainer {
	position:absolute;
	right:20px;
	top:50px;
	width:200px;
	bottom:125px;
	border:1px solid #ADADAD;
	background-color:#FFF;
} 
#onlineListContainer h4 {
	height:25px;
	padding:2px;
	margin:0px;
	text-align:center;
	font-size:1.0em;
	background-color:#88A6C0;
	color:#FFF;
	display:block;
}
#onlineList {
	overflow:auto;
}
div.list {
	padding:10px 2px;
}




#userOptions {
	position:absolute;
	right:20px;
	bottom:20px;
	color:#fff;
	width:200px;
}
#soundDelay {
	margin-left:50px;
	padding:2px;
}


div.chat {
	left:20px;
	top:50px;
	right:230px;
	bottom:125px;
	position:absolute;
}

div.whisper {
	height:150px;
	margin:20px 230px 20px 20px;
}

div.logging {
	left:20px;
	top:50px;
	right:20px;
	bottom:50px;
	position:absolute;
}



#chatList {
	overflow-X:hidden;
	overflow-Y:auto;
/*	border:1px solid #ADADAD; */
	background-color:#FFF;
}

#chatList div {
	padding:2px 1px;
}

#inputContainer {
	display:none;
	position:absolute;
	height: 25px;
	left:20px;
	bottom:90px;
	right:230px;
	padding:3px 0px;
}

#messageText {
	width: 90%;
	border:1px solid #ADADAD;
}

#whisperBoxTemplate {
	display:none;
	top:145px;
	left:180px;
	width:300px;
}

.whisperBox {
	display:block;
	top:60px;
	right:50px;
	padding: 0px;
	position:absolute;
	background:white;
	width:300px;
	height:81px;
	border:1px solid red;
	z-index:2;
}

.private {
	background: green url(private.gif) no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	width:21px;
	height:21px;
	cursor:pointer;
}

.nonprivate {
	background-color:#ffed72;
	position:absolute;
	top:0px;
	left:0px;
	width:21px;
	height:21px;
}

#roomNameContainer h1.privateRoom {
	color:red;
}

div.wBactive {
	z-index:10;
}

.dragHandle {
	background-color:#ffed72;
	color:black;
	font-weight:bold;
	text-align:center;
	position:absolute;
	top:0px;
	left:21px;
	height:21px;
	width:258px;
	cursor:move;
}

.closeBox {
	background:#0066ff url(closebox.gif) no-repeat;
	height:21px;
	width:21px;
	position:absolute;
	top:0px;
	left:279px;
}

.whisperList {
	position:absolute;
	top:21px;
	left:2px;
	width:296px;
	height:30px;
	opacity:1.0;
	float:left;
	overflow:auto;
}

.whisperInput {
	position:absolute;
	top:51px;
	left:2px;
	width:230px;
	height:25px;
	border:1px solid black;
	background:white;
}


.whisperSend {
	position:absolute;
	top:51px;
	right:2px;
	width: 55px;
	height:25px;
}

span.whisper {
	font-style:italic;
}
		

.dragBox {
	position:absolute;
	padding:2px 5px;
	border:2px solid blue;
	background:transparent;
	cursor:move;
}
.dragOver {
	border:3px solid black;
}

#emoticonContainer {
	display:none;
	position:absolute;
	left:20px;
	bottom:10px;
	border:1px solid #ADADAD;
	padding:3px;
	background-color:#FFF;
}
#emoticonContainer a {
	margin-left:1px;
	margin-right:1px;
}

#emoticonContainer img {
	border:none;
	vertical-align:middle;
	margin-bottom:2px;
}

#logControls {
	position:absolute;
	top:5px;
	left:115px;
	height:46px;
}

#startTimeBlock, #endTimeBlock {
	float:left;
	margin:0px 5px;
}

#startTextLog, #endTextLog  {
	height:16px;
	color:white;
	font-weight:bold;
	text-align:center;
	margin-left:10px;
	padding-left:30px;
}


#minusStartLog, #minusEndLog {
	float:left;
	height:20px;
	width:21px;
	background: url(timeminus.gif) no-repeat center;
	margin-left:10px;
}

#timeShowStartLog, #timeShowEndLog {
	float:left;
	border:1px solid #800000;
	height:20px;
	background: white;
	padding:2px;
	vertical-align:middle;
	margin-left:10px;
	padding:1px 3px;
}

#plusStartLog, #plusEndLog {
	float:left;
	height:20px;
	width:21px;
	background: url(timeplus.gif) no-repeat center;
	margin-left:10px;
}

#printLog {
	float:left;
	height:44px;
	width: 50px; 
	background: #a87aad url(printer.jpg) no-repeat; 
	margin-left:40px;
	cursor:pointer;
}

#printScreen {
	position:relative;
	width:100%;
	background:white;
}

#printScreen h1,#printScreen h2, #printScreen h3 {
	text-align:center;
}




